<h1 align="center">Leap Motion Gesture Capture</h1>

<br> <br> <br> <br> <br>

<% content_for :javascript do %>
  <%= javascript_include_tag "Leap Motion Gesture Capture" %>
<% end %>


<head>
  <title>Leap Recorder</title>
  <script src="assets/recorder/javascripts/lib/jquery-2.1.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="assets/recorder/javascripts/lib/FileSaver.js"></script>
  <script src="assets/recorder/javascripts/lib/spin.min.js"></script>
  <script src="assets/recorder/javascripts/lib/angular.js"></script>
  <script src="assets/recorder/javascripts/lib/angular.rangeSlider.js"></script>
  <script src="assets/recorder/javascripts/lib/angular-spinner.min.js"></script>
  <script src="assets/recorder/javascripts/lib/angulartics.min.js"></script>
  <script src="assets/recorder/javascripts/lib/angulartics-ga.min.js"></script>

<link href="assets/recorder/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">

  <script src="assets/recorder/bower_components/angular-xeditable/dist/js/xeditable.js"></script>

 <link href="assets/recorder/bower_components/highlightjs/styles/default.css" rel="stylesheet">

  <script src="assets/recorder/bower_components/highlightjs/highlight.pack.js"></script>

 <link rel="stylesheet" href="assets/recorder/stylesheets/main.css">
 <link rel="stylesheet" href="assets/recorder/stylesheets/controls.css">
 <link rel="stylesheet" href="assets/recorder/stylesheets/data-collection.css">

  <script src="assets/recorder/javascripts/lib/three.min.js"></script>
  <script src="assets/recorder/javascripts/lib/TrackballControls.js"></script>
  <script src="//js.leapmotion.com/leap-plugins-0.1.8.js"></script>
  <script src="//js.leapmotion.com/leap.rigged-hand-0.1.5.js"></script>
  <script src="assets/leap.playback-0.2.1.min.js"></script>

  <script src="assets/recorder/javascripts/recorder.js"></script>
  <script src="assets/recorder/javascripts/controls.js"></script>
  <script src="assets/recorder/javascripts/data-collection.js"></script>
  <script src="assets/recorder/javascripts/metadata.js"></script>

</head>


<body ng-app="Recorder">

<div id="dropzone">
  <span>
    Set Recording
  </span>
</div>

<div data-ng-controller="DataCollection" ng-show="mode != 'recording' && mode != 'off'">

  <section class="row" id="changeRecording" ng-animate="'animate'" ng-show="mode == 'intro'">

    <div class="col-xs-2 changeRecordingControl">
      <button ng-click="previous($event)" class="btn btn-default btn-double">
        <i class="glyphicon glyphicon-chevron-left"></i>
      </button>
    </div>

    <div class="col-xs-8">
      <h2>{{title() || 'Untitled Recording'}}</h2>
      <p class="recordingDescription">{{currentRecording().metadata.description}}</p>

      <div class="pull-right">
        <button class="btn btn-default" ng-click="replay($event)" ng-disabled="!canReplay()">
          Replay
        </button>
        <button class="btn btn-default btn-success" ng-click="record()">
          Make Recording
        </button>
      </div>
    </div>

    <div class="col-xs-2 changeRecordingControl" style="text-align: right;">
      <button ng-click="next($event)" class="btn btn-default btn-double">
        <i class="glyphicon glyphicon-chevron-right"></i>
      </button>
    </div>
    <div class="clearfix"></div>
  </section>

  <!-- todo: leap-enable! -->
  <section class="row" id="acceptRecording" ng-animate="'animate'" ng-show="mode == 'outro'">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>Deliver Recording?</h2>
      <p class="recordingDescription">
      </p>
      <div class="pull-right">
        <button class="btn btn-default" ng-click="discard()">Discard</button>
        <button class="btn btn-primary" ng-click="save()">Save & Send</button>
      </div>
    </div>
  </section>
  <hr/>
</div>

<div id="controls" data-ng-controller="Controls">

  <div class="btn-group btn-group-lg dropup">

    <button type="button" class="btn btn-default" ng-click="record()" ng-class="{active: mode=='record'}" id="record">

      <i class="glyphicon glyphicon-record" ng-class="{orange: recordPending(), red: recording()}"></i>

	Record

    </button>

    <button style="text-align: left" type="button" class="btn btn-default" ng-click="playback()" ng-class="{active: mode=='playback'}" ng-disabled="canPlayBack()">

      <span ng-show="player().loading()" us-spinner="{radius:4, width:2, length: 4, left: '20px'}" style="width: 18px; display: inline-block;"></span>

      <span ng-show="!player().loading() && !pauseOnPlaybackButtonClick()"></span>

      <span ng-show="!player().loading() && pauseOnPlaybackButtonClick()"><i class="glyphicon glyphicon-pause"></i></span>

	Playback

    </button>

  </div>

  <br> <br> <br>
</div>

<script>

  (window.controller = new Leap.Controller({background: true}))
    .use('playback', {
      loop: false,
      pauseHotkey: false,
      pauseOnHand: false
    })
    .use('riggedHand')
    .connect();

</script>


</body>



